<h1>Lists</h1>

<div id="lists">
  <% @lists.each do |list| %>
    <%= render list %>
    <%= cl_image_tag list.photo.key, height: 300, width: 400, crop: :fill %>
    <p>
      <%= link_to "Show this category", list %>
    </p>
  <% end %>
</div>

<%= link_to "Add Category", new_list_path %>
